h1{
    font-size: 100px;
    color: blue;
}
#titulo1{
    color: aquamarine;
}
.parag{
    width: 60000px;
    height: 6000px;
    background-repeat: repeat;
    background-image: url(Desafio/bem-te-vi-gif.gif);
    color:rgb(38, 3, 35);
    font-size: 30px;
    font-family: Arial;
    font-weight: bold;
    text-align: center;
}





/*
Principais Propriedades
Font-size ---define o tamanho da fonte
Font-family --- define o tipo da fonte
Font-weight ---determina o "peso" da fonte, usada bastante com o valor bold para colocar em negrito
Font-style ---determina o estilo da fonte, valores como 'normal', 'oblique' ou 'italic'
Line-height ---espaçamento entre linhas
Text-align ---alinhamento do texto(left, right, center e justify)
Color ---cor do texto
Width e height ---define a largura e altura do bloco (explicar tbm como usar o auto)
background-image:u rl(imagem-de-fundo.png) ---define a imagem de fundo
background-color ---define a cor de fundo
background-repeat --- se o background irá repetir ou não
margin-top, margin-right, margin-botton, margin-left ---define a margem para um elemento
Padding-top, Padding-right, Padding-botton, Padding-left ---preenchimento ou espaçamento
border-top-style ---especifica o estilo da borda
Border-top-width ---especifica a espessura da borda
Border-top-color ---especifica a cor da borda
*/