<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/style.css">
</head>
<body>

<img src="../static/imagens/logo.png" width="600" height="75">

<br>

<form action="/entrar" method="post">
<div class="caixa">
<p class="negrito vermelho">ERRO</p>
<p class="verde"> Digite Seu Nome de 
    <span class="negrito amarelo">
        Usuário:
    </span>
</p>

<input name="nome" required minlength="4" maxlength="15">

<p class="verde"> Digite Sua
    <span class="negrito amarelo">
        Senha:
    </span>
</p>

<input type="password" name="senha" required minlength="8" maxlength="15">
<br>
</form>

<br>

<button class="botao">Logar</button>

<form>
<br>
<a href="/criarconta">Ainda não tem uma Conta? Clique Aqui!</a>
</form>
</div>


</body>
</html>