div h1{
    color: blue;
    background-color: black;
    width: 100px;
}
div > p{
    font-size: 60px;
    color: deeppink;
}

p + p{
    color:bisque;
}

h1 ~ p{
    color: green;
}
button{
    background-color: rgb(202, 12, 152);
    color: rgb(27, 197, 5);
    font-size: 50px;
}


button:hover{
    background-color: rgb(198, 215, 8);
    color: rgb(12, 6, 185);
    font-size: 100px;
}

/*criem um botão que:
a principio seja fundo rosa e fonte verde
e quando passar o mouse:
fundo amarelo e fonte azul*/